
{% extends "base.html" %}

{% block content %}
    <h1 style="text-align:center"> Dear Visitor! </h1>
    <div style="text-align:center">
	<p class="p1"> Please click on "Restaurants" above - we will ask you to select a cuisine and a dish,<br> and then you will be shown a list of recommended restaurants where you can try this dish.<br> Once you review the results, click on "Restaurants" again to re-enter data </p>
        <br>
    </div>
    <div><br><br><br></div> 	
    <div class="div1" align="center">	
	<img src="static/images/food.jpeg" alt="Best advice" align="center" height=400>
    </div>   
{% endblock %}
